<!DOCTYPE html>
<html lang="en">

<head>
    <title>CollegeTracker</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <div class="header">
        <nav class="fixed">
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">Home</a>
                </li>
                <li role="presentation"><a href="/login">Sign In</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">CollegeFinder</h3>
    </div>
    <hr>
    <div class="jumbotron">
        <h1>View Your Colleges!</h1>
        <p class="lead"></p>
        <hr>
        <div class="container">
            <h3>Add College to Favorites List</h3>
            <div class="div col-md-12">
                {% from "form_inputs.html" import render_field %}
                <form method="POST" action="{{ url_for('main') }}">
                    <div class="div col-md-6">
                        {{ form.csrf_token }}
                        {{ render_field(form.college_id, class_="form-control") }}
                        {{ render_field(form.rank, class_="form-control") }}
                    </div>
                    <div class="div col-md-6">
                        <p>{{ render_field(form.review, class_="form-control") }}</p>
                        {{ form.submit }}
                    </div>
                </form>
            </div>
        </div>
        <div class="btn-large container" style="min-height:100% width:80%">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <hr>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <p>{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block body %}{% endblock %}
        </div>
    </div>

    <div class="favorites">
        <h3>Favorites List</h3>
        <p>User's personal list of favorite colleges!</p>
        <table class="college_db" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>User Rank</th>
                <th>Review</th>
                <th>Id</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% block user_favs %}
            {% for item_id, item in favs.items() %}
            <tr>
                <td>{{ item[2] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item_id }}</td>
                <td><a class="btn btn-secondary" href="edit/{{item_id}}" id="edit">Edit</a></td>
                <td>
                    <form action="{{url_for('delete', id=item_id)}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            </tbody>
            {% endfor %}
            {% endblock user_favs %}
        </table>
    </div>

    <hr>

    <div class="colleges">
        <h3>List of Colleges</h3>
        <p>Entire college database on CollegeFinder</p>
        <table class="college_db" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Rank</th>
                <th>Type</th>
                <th>Price</th>
                <th>Location</th>
                <th>President</th>
                <th>Id</th>
            </tr>
            </thead>
            <tbody>
            {% block content %}
            {% for college_id, college in colleges.items() %}
            <tr>
                <td>{{ college[1] }}</td>
                <td>{{ college[3] }}</td>
                <td>{{ college[6] }}</td>
                <td>{{ college[4] }}</td>
                <td>{{ college[5] }}</td>
                <td>{{ college[2] }}</td>
                <td>{{ college[0] }}</td>
            </tr>
            </tbody>
            {% endfor %}
            {% endblock content %}
        </table>
    </div>
    <hr>
    <footer class="footer">
        <div class="jumbotron text-center text-md-left">
            <p>made by potatoez 2019</p>
            <h5>Vera Kong and Nicole Danuwidjaja</h5>
            <a href="https://github.com/VKong6019/CollegeTracker">GitHub</a>
        </div>
    </footer>
</div>

</body>

</html>