<!DOCTYPE html>
<html lang="en">

<head>
    <title>CollegeTracker</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Home</a>
                </li>
                <li role="presentation"><a href="#">Sign In</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">CollegeFinder</h3>
    </div>

    <div class="jumbotron">
        <h1>View Your Colleges</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">View Now</a>
        </p>
    </div>

    <div class="favorites">
        <h3>Favorites List</h3>
        <p>User's personal list of favorite colleges!</p>
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Rank</th>
                <th>Review</th>
            </tr>
            <tr>
                <td>Northeastern University</td>
                <td>1</td>
                <td>I love this school!</td>
            </tr>
            <tr>
                <td>Boston University</td>
                <td>100</td>
                <td>Nah never going here</td>
            </tr>
        </table>
    </div>

    <hr>

    <div class="colleges">
        <!--            <div class="col-lg-6">-->
        <!--                <h4>Bucket List</h4>-->
        <!--                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>-->

        <!--                <h4>Bucket List</h4>-->
        <!--                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>-->

        <!--                <h4>Bucket List</h4>-->
        <!--                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>-->
        <!--            </div>-->


        <h3>List of Colleges</h3>
        <p>Entire college database on CollegeFinder</p>
        <table id="colleges_table" style="width:100%">
            <tr>
                <th>Name</th>
                <th>President</th>
                <th>Rank</th>
                <th>Price</th>
                <th>Location</th>
                <th>Type</th>
            </tr>

            {% block content %}
            {% for college_id, college in colleges.items() %}
            <tr>
                <td>{{ college[1] }}</td>
                <td>{{ college[2] }}</td>
                <td>{{ college[3] }}</td>
                <td>{{ college[4] }}</td>
                <td>{{ college[5] }}</td>
                <td>{{ college[6] }}</td>
            </tr>
            {% endfor %}
            {% endblock content %}
        </table>
    </div>
    
    <footer class="page-footer">
        <p>&copy; made by potatoez 2019</p>
    </footer>

</div>
</body>

</html>