<!DOCTYPE html>
<html lang="en">

<head>
    <title>CollegeTracker</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ url_for('static',filename='static/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <div class="header">
        <nav class="fixed">
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">Home</a>
                </li>
                <li role="presentation"><a href="/login">Sign In</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">CollegeFinder</h3>
    </div>
    <hr>
    <div class="jumbotron">
        <h1>View Your Colleges!</h1>
        <p class="lead"></p>
        </p>
        <hr>
        <h3>Add College to Favorites List</h3>
        <div class="container">
            <form method="POST" action="{{ url_for('main') }}">
                <div class="div col-md-6">
                    {{ form.csrf_token }}
                    {{ form.college_id.label }}
                    <p>{{ form.college_id }}</p>
                    {{ form.rank.label }}
                    <p>{{ form.rank }}</p>
                </div>
                <div class="div col-md-6">
                    {{ form.review.label }}
                    <p>{{ form.review }}</p>
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </div>

    <div class="favorites">
        <h3>Favorites List</h3>
        <p>User's personal list of favorite colleges!</p>
        <table style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Rank</th>
                <th>Review</th>
            </tr>
            </thead>
            <tbody>
            {% block user_favs %}
            {% for item_id, item in favs.items() %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td><a class="btn btn-secondary" id="edit">Edit</a></td>
                <td><a class="btn btn-danger" id="delete">Delete</a></td>
            </tr>
            </tbody>
            {% endfor %}
            {% endblock user_favs %}
        </table>
    </div>

    <hr>

    <div class="colleges">
        <h3>List of Colleges</h3>
        <p>Entire college database on CollegeFinder</p>
        <table style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Rank</th>
                <th>Type</th>
                <th>Price</th>
                <th>Location</th>
                <th>President</th>
                <th>Id</th>
            </tr>
            </thead>
            <tbody>
            {% block content %}
            {% for college_id, college in colleges.items() %}
            <tr>
                <td>{{ college[1] }}</td>
                <td>{{ college[3] }}</td>
                <td>{{ college[6] }}</td>
                <td>{{ college[4] }}</td>
                <td>{{ college[5] }}</td>
                <td>{{ college[2] }}</td>
                <td>{{ college[0] }}</td>
            </tr>
            </tbody>
            {% endfor %}
            {% endblock content %}
        </table>
    </div>
    <footer class="footer">
        <div class="jumbotron text-center text-md-left">
            <p>made by potatoez 2019</p>
            <h5>Vera Kong and Nicole Danuwidjaja</h5>
            <a href="https://github.com/VKong6019/CollegeTracker">GitHub</a>
        </div>
    </footer>
</div>

</body>

</html>